/* Add the hover effect for the card */
.hovered-card {
    background-color: #f7f7f7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Style for hovered items */
.shoppingListItem {
    transition: background-color 0.3s ease;
}

.shoppingListItem:hover {
    background-color: #f0f0f0;
}

/* Button hover styles */
.p-button-rounded:hover {
    background-color: #007bff !important;
}
